<div class="top-section">

    <div class="section-title">
      <h1>MoneyPocket</h1>
      <h2>貯蓄だけじゃない</h2>
      <h2>あなたの夢をサポートするお金のプラットフォーム</h2>
    </div>
    
    <div class="btn-wrapper">
      <%= link_to "新規登録はこちら", signup_path,  class: "btn btn-large btn-primary" %>
      <p>or</p>
        <a href="#" class="btn facebook"><span class="fa fa-facebook"></span>Facebookで登録</a>
        <a href="#" class="btn twitter"><span class="fa fa-twitter"></span>Twitterで登録</a>
    </div>

</div>
<div class="feature-section">
    <div class="section-title">
      <h2>特徴</h2>
    </div>
    <div class="feature-item">
      <h5 class="feature-title">ゴールをリストアップ</h5>
      <p></p>
      <img sorce="#" >
    </div>
      <div class="feature-item">
      <h5 class="feature-title">予算の管理</h5>
      <img sorce="#" >
    </div>
      <div class="feature-item">
      <h5 class="feature-title">資産の見える化</h5>
      <img sorce="#" >
    </div>
      <div class="feature-item">
      <h5 class="feature-title">レポートによる分析</h5>
      <img sorce="#" >
    </div>
</div>