<div class="top-section">

    <div class="section-title">
      <h1>MoneyPocket</h1>
      <h2>貯蓄だけじゃない</h2>
      <h2>あなたの夢をサポートするお金のプラットフォーム</h2>
    </div>

</div>
<div class="feature-section">
    <div class="section-title">
      <h2>特徴</h2>
    </div>
    <div class="feature-item">
      <h5 class="feature-title">ゴールをリストアップ</h5>
      <img sorce="#" >
    </div>
      <div class="feature-item">
      <h5 class="feature-title">予算の管理</h5>
      <img sorce="#" >
    </div>
      <div class="feature-item">
      <h5 class="feature-title">資産の見える化</h5>
      <img sorce="#" >
    </div>
      <div class="feature-item">
      <h5 class="feature-title">レポートによる分析</h5>
      <img sorce="#" >
    </div>
</div>